.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.view{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons{
    background-color: beige;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 10px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.buttons:hover{
    filter: brightness(80%);
}

a{
    text-decoration: none;
    color: black;
}

ul{
    border: 1px solid black;
    list-style-type: none;
}
/* li {
    border: 1px solid black;
    padding: 5px;
  } */

th, td{
    padding: 5px;
}
