<p>admin-panel works!</p>
<a routerLink="/options">Back</a>

<div>
    <button (click)="GetAllArmour()">Get All Armour</button>
</div>

<table>
    <thead>
        <td>id</td>
        <td>armourTypeName</td>
        <td>armourModifier</td>
        <td>availableToHero</td>
        <td>value</td>
        <td>note</td>
    </thead>
    <tbody>
        <tr *ngFor="let item of armourlist">
            <td>{{item.id}}</td>
            <td>{{item.armourTypeName}}</td>
            <td>{{item.armourModifier}}</td>
            <td>{{item.availableToHero}}</td>
            <td>{{item.value}}</td>
            <td>{{item.note}}</td>
        </tr>
    </tbody>
</table>

<!-- id: number;
armourTypeName: string | null;
armourModifier: number;
availableToHero: boolean;
value: number;
note: string | null; -->