<div class="nav">
    <app-navbar [showNavbar]="true"></app-navbar>
</div>
<div class="view">
    <nav class="component-navbar">
        <ul class="ul-top">
            <li class="li-top"><button (click)="Career()">Career</button></li>
            <li class="li-top"><button (click)="Race()">Race</button></li>
            <li class="li-top"><button (click)="Weapon()">Weapons</button></li>
        </ul>
    </nav>
    
    <div class="content">
        <div class="selection-list">
            <ul *ngIf="showList == 'Race/'">
                <li *ngFor="let race of racelist">
                    <button>
                        {{race.raceType}}
                    </button>
                </li>
            </ul>
            <ul *ngIf="showList == 'Career/'">
                <li *ngFor="let career of careerlist">
                    <button (click)="SelectCareer(career)">
                        {{career.careerType}}
                    </button>
                </li>
            </ul>
            <ul *ngIf="showList == 'Weapon/'">
                <li *ngFor="let weapon of weaponlist">
                    <button>
                        {{weapon.weaponName}}
                    </button>
                </li>
            </ul>
        </div>

        <div class="form">
            <div class="career-form" *ngIf="showList == 'Career/'">
                <form [formGroup]="createNewCareer">
                    <div class="career-container">
                        <label for="careerName">Career: </label>
                        <input id="careeName" type="text" formControlName="careerName">
                    </div>
                </form>
            </div>
            <div class="race-form">

            </div>
        </div>
    </div>

    <nav class="component-navbar">
        <ul class="ul-bottom">
            <li class="li-bottom"><button (click)="Create()">Create</button></li>
            <li class="li-bottom"><button (click)="Update()">Edit</button></li>
            <li class="li-bottom"><button (click)="Delete()">Delete</button></li>
        </ul>
    </nav>
</div>