<div class="nav">
    <app-navbar [showNavbar]="true"></app-navbar>
</div>
<div class="view">
    <nav class="component-navbar">
        <ul class="ul-top">
            <li class="li-top"><button (click)="Career()">Career</button></li>
            <li class="li-top"><button (click)="Race()">Race</button></li>
            <li class="li-top"><button (click)="Weapon()">Weapons</button></li>
        </ul>
    </nav>
    
    <div class="content">
        <div class="selection-list">
            <ul *ngIf="showList == 'Race/'">
                <li class="item-list" *ngFor="let race of racelist">
                    <button class="item-buttons" (click)="SelectRace(race)">
                        {{race.raceType}}
                    </button>
                </li>
            </ul>
            <ul *ngIf="showList == 'Career/'">
                <li class="item-list" *ngFor="let career of careerlist">
                    <button class="item-buttons" (click)="SelectCareer(career)">
                        {{career.careerType}}
                    </button>
                </li>
            </ul>
            <ul *ngIf="showList == 'Weapon/'">
                <li class="item-list" *ngFor="let weapon of weaponlist">
                    <button class="item-buttons" (click)="SelectWeapon(weapon)">
                        {{weapon.weaponName}}
                    </button>
                </li>
            </ul>
        </div>

        <div class="form-container">
            <div class="career-form" *ngIf="showList == 'Career/'">
                <form [formGroup]="createNewCareer">
                    <div class="career-container">
                        <input id="careeName" type="text" formControlName="careerName" placeholder="Career :">
                    </div>
                </form>
            </div>
            <div class="race-form" *ngIf="showList == 'Race/'">
                <form [formGroup]="createNewRace">
                    <div class="race-container">
                        <input id="raceName" type="text" formControlName="raceName" placeholder="Race :">
                    </div>
                </form>
            </div>
            <div class="race-form" *ngIf="showList == 'Weapon/'">
                <form [formGroup]="createNewWeapon">
                    <div class="weapon-form" *ngIf="showList == 'Weapon/'">
                        <input id="weaponName" type="text" formControlName="weaponName" placeholder="Weapon :">
                    </div>
                </form>
            </div>
            <div *ngIf="IsSaveable">
                <button class="save-btn" (click)="SaveEdit()">Save changes</button>
            </div>
        </div>
    </div>

    <nav class="component-navbar">
        <ul class="ul-bottom">
            <li class="li-bottom"><button (click)="Create()">Create</button></li>
            <li class="li-bottom"><button (click)="Update()">Edit</button></li>
            <li class="li-bottom" id="delete-btn"><button (click)="Delete()">Delete</button></li>
        </ul>
    </nav>
</div>