* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

.menuview{
    position: center;
    /* padding: 40%; */
    align-items: center;
}

ul li {
    list-style: none;
    text-align: center;
}

ul li a {
    color: #0006;
    text-decoration: none;
    font-size: 3em;
    padding: 5px 20px;
    display: inline-flex;
    font-weight: 700;
    transition: 0.5s;
}

ul:hover li a {
    color: #0006;
  }
  ul li:hover a {
    color: #0c0;
    background: transparent;
  }

